
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Heading{
    color: aqua;
    font-family: "Kode Mono", monospace;
}
.press{
    color: blue;
}
.para{
    color: #6f32a8;
    font-family: "Ojuju", sans-serif;
    font-size: 2em;
    font-weight: 1000;
    text-decoration: line-through;
    background-color: green;
    
}